html, body{
    font-family: "Lucida Sans", sans-serif;
    padding:0;
    margin:0;
    background-color: 0000000;

}

.menu{
    width:130px;
    height:100%;
    float:left;
    background-color: 222222;
    color: white;
    text-align: center;

}

.border{
    float:right;
    width:15%;
    background-color: 0000000;

}

.content{
   width: -webkit-calc(70% - 130px);
   float:right;
   background-color: 0000000;
   color: white;

}

.header{
    width: -webkit-calc(100% - 130px);
    float:right;
    background-color: 0000000;
    color: white;

}
