.menu{
    width:20%;
    height:100%;
    float:left;
    background-color: 222222;
    color: white;

}

.content{
   width:80%;
    float:right;
    background-color: 0000000;
    color: white;

}

.header{
    width:80%;
    float:right;
    background-color: 0000000;
    color: white;

}
